<form align="center" #f="ngForm" (ngSubmit)="f.form.valid && login(f.value)">
  <h2>Sign In</h2>
  <a routerLink="/register">Need an account?</a><br /><br />
  <input type="email" name="email" placeholder="Enter email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid': f.submitted && email.invalid}"
    required email /><br />
  <div *ngIf="f.submitted && email.invalid" class="invalid">
    <div *ngIf="email.errors.required">
      *Email is mandatory field
    </div>
    <div *ngIf="email.errors.email">
      *Email must be a valid email id
    </div>
  </div>
  <br />
  <input type="password" name="password" placeholder="Enter Password" minlength="6" [(ngModel)]="model.password"
    #password="ngModel" [ngClass]="{'is-invalid': f.submitted && password.invalid}" required /><br />
  <div *ngIf="f.submitted && password.invalid" class="invalid">
    <div *ngIf="password.errors.required">
     *Password is a mandatory field
    </div>
    <div *ngIf="password.errors.minlength">
      *Minimum length should be 6
    </div>
  </div><br />
  <button class="btn btn-lg btn-primary pull-xs-center" type="submit">Sign In</button>
  <app-errors [errors]="errors"></app-errors>
</form>
